/*Mixins*/

/*Titles*/
@mixin title($font-size, $font-family, $font-weight, $color) {
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  color: $color;
}
/*Paragraphs*/
@mixin paragraphs($font-size, $font-family, $font-weight, $color, $line-height) {
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  color: $color;
  line-height: $line-height;
}
/*Buttons*/
@mixin buttons($width, $height, $margin, $back-color, $color) {
  width: $width;
  height: $height;
  margin: $margin;
  display: block;
  background-color: $back-color;
  font-weight: $Font-Weight-Big;
  color: $color;
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 100px;
  box-shadow: 0 10px 10px 0px hsla(12, 88%, 59%, 0.26);
  outline: none;
  will-change: transform;
}

/*Media Queries*/
@mixin media($breakpoint) {

  @if $breakpoint == cellphone {
    @media screen and (min-width: 480px) and (max-width: 599px) {
      @content;
    }
  }
  @else if $breakpoint == tablet-small {
    @media screen and (min-width: 600px) and (max-width: 799px) {
      @content;
    }
  }
  @else if $breakpoint == tablet {
    @media screen and (min-width: 800px) and (max-width: 1023px) {
      @content;
    }
  }
  @else if $breakpoint == laptop {
    @media screen and (min-width: 1024px){
      @content;
    }
  }
}