@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Variables*/
/*Colors*/
/*Colors-Primary*/
/*Colors-Neutral*/
/*Typography*/
/*Body Copy*/
/*Fon*/
/*Mixins*/
/*Titles*/
/*Paragraphs*/
/*Buttons*/
/*Media Queries*/
/*Botones*/
.btn {
  width: 140px;
  height: 45px;
  margin: 0 auto;
  display: block;
  background-color: #f25f3a;
  font-weight: 700;
  color: #fafafa;
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 100px;
  box-shadow: 0 10px 10px 0px rgba(242, 95, 58, 0.26);
  outline: none;
  will-change: transform; }
  @media screen and (min-width: 1024px) {
    .btn {
      width: 140px;
      height: 45px;
      margin: 0;
      display: block;
      background-color: #f25f3a;
      font-weight: 700;
      color: #fafafa;
      position: relative;
      z-index: 1;
      border: none;
      border-radius: 100px;
      box-shadow: 0 10px 10px 0px rgba(242, 95, 58, 0.26);
      outline: none;
      will-change: transform; } }
  .btn:hover {
    transform: scale(0.99); }
  .btn:active {
    transform: scale(0.9);
    background-color: rgba(242, 95, 58, 0.795); }

.btn--white {
  width: 140px;
  height: 45px;
  margin: 0 auto;
  display: block;
  background-color: #fafafa;
  font-weight: 700;
  color: #f25f3a;
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 100px;
  box-shadow: 0 10px 10px 0px rgba(242, 95, 58, 0.26);
  outline: none;
  will-change: transform; }
  .btn--white:hover {
    transform: scale(0.99); }
  .btn--white:active {
    transform: scale(0.9);
    color: rgba(242, 95, 58, 0.795); }

.btn--form {
  width: 80px;
  height: 45px;
  margin: 0;
  display: block;
  background-color: #f25f3a;
  font-weight: 700;
  color: #fafafa;
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 100px;
  box-shadow: 0 10px 10px 0px rgba(242, 95, 58, 0.26);
  outline: none;
  will-change: transform; }
  .btn--form:hover {
    transform: scale(0.99); }
  .btn--form:active {
    transform: scale(0.9);
    color: rgba(242, 95, 58, 0.795); }

.btn--laptop {
  display: none; }
  @media screen and (min-width: 1024px) {
    .btn--laptop {
      width: 140px;
      height: 45px;
      margin: 0 auto;
      display: block;
      background-color: #f25f3a;
      font-weight: 700;
      color: #fafafa;
      position: relative;
      z-index: 1;
      border: none;
      border-radius: 100px;
      box-shadow: 0 10px 10px 0px rgba(242, 95, 58, 0.26);
      outline: none;
      will-change: transform; }
      .btn--laptop:hover {
        transform: scale(0.99); }
      .btn--laptop:active {
        transform: scale(0.9);
        background-color: rgba(242, 95, 58, 0.795); } }

.container {
  width: 90%;
  margin: 0 auto;
  overflow-x: hidden; }
  @media screen and (min-width: 1024px) {
    .container {
      width: 80%; } }

.container-fluid {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden; }

/*Scroll*/
html {
  scroll-behavior: smooth; }

.header {
  width: 100%;
  height: 100px; }

/*Nav*/
.nav__container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .nav__container {
      align-items: center; } }

.logo--header img {
  width: 110px;
  margin-top: 6px;
  display: flex;
  align-items: center; }
  @media screen and (min-width: 800px) and (max-width: 1023px) {
    .logo--header img {
      width: 150px; } }
  @media screen and (min-width: 1024px) {
    .logo--header img {
      width: 150px; } }

.nav__deploy {
  display: none;
  background: linear-gradient(to bottom, transparent, black);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000; }
  @media screen and (min-width: 1024px) {
    .nav__deploy {
      width: 100%;
      display: block;
      background: none;
      position: static; } }

.nav__deploy.show {
  display: block; }

.nav__deploy-close {
  position: absolute;
  top: 40px;
  right: 22.5px; }
  @media screen and (min-width: 1024px) {
    .nav__deploy-close {
      display: none; } }

.nav__deploy-box {
  width: 90%;
  height: 300px;
  margin: 100px auto 0;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  border-radius: 5px;
  animation: showMenu 1s; }
  @media screen and (min-width: 1024px) {
    .nav__deploy-box {
      width: 100%;
      height: auto;
      margin: 25px 0 0;
      background: none;
      animation: none; } }

.nav__deploy-box ul {
  margin-top: 40px;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .nav__deploy-box ul {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin-top: 0; } }

.nav__deploy-box li {
  margin-bottom: 30px;
  font-family: "Be Vietnam", Helvetica;
  font-size: 1em;
  font-weight: 700; }
  @media screen and (min-width: 1024px) {
    .nav__deploy-box li {
      font-size: 0.8em;
      font-weight: 400; } }
  .nav__deploy-box li a {
    color: #242d52;
    text-decoration: none; }

@media screen and (min-width: 1024px) {
  .nav__hamburguesa {
    display: none; } }

.nav__hamburguesa img {
  width: 25px;
  height: 18px;
  position: relative;
  z-index: 1; }
  @media screen and (min-width: 1024px) {
    .nav__hamburguesa img {
      display: none; } }

/*Keyframes menu burger*/
@keyframes showMenu {
  0% {
    transform: translateY(-500px); }
  100% {
    transform: translateY(0); } }

/*Hero*/
.hero {
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .hero {
      margin-top: 100px; } }

@media screen and (min-width: 1024px) {
  .hero__container {
    display: flex;
    flex-direction: row-reverse; } }

.hero__image {
  width: 100%;
  position: relative;
  z-index: 1; }
  @media screen and (min-width: 1024px) {
    .hero__image {
      width: 60%; } }

.hero__image img {
  width: 100%; }

.hero__description {
  width: 100%;
  position: relative;
  z-index: 2; }
  @media screen and (min-width: 1024px) {
    .hero__description {
      width: 40%;
      margin-top: 50px; } }

.hero__description h1 {
  text-align: center;
  line-height: 1.2em;
  font-size: 2.5em;
  font-family: "Be Vietnam", Helvetica;
  font-weight: 700;
  color: #242d52; }
  @media screen and (min-width: 1024px) {
    .hero__description h1 {
      text-align: start; } }

.hero__description p {
  width: 90%;
  margin: 20px auto 30px;
  text-align: center;
  font-size: 1em;
  font-family: "Be Vietnam", Helvetica;
  font-weight: 400;
  color: #9095a7;
  line-height: 1.8em; }
  @media screen and (min-width: 1024px) {
    .hero__description p {
      margin: 20px 0 30px;
      text-align: start; } }

/*Decoraction background*/
.decoration-background-hero {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }
  .decoration-background-hero span {
    position: absolute;
    top: -110px;
    right: -120px;
    z-index: 0; }
    @media screen and (min-width: 1024px) {
      .decoration-background-hero span {
        top: -240px;
        right: -250px; } }
  .decoration-background-hero img {
    width: 450px; }
    @media screen and (min-width: 1024px) {
      .decoration-background-hero img {
        width: 800px; } }

.decoration-background-hero--bottom {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -241px;
  left: 0;
  overflow: hidden; }
  @media screen and (min-width: 1024px) {
    .decoration-background-hero--bottom {
      top: 500px;
      right: 830px;
      bottom: -1000px;
      left: 0; } }
  .decoration-background-hero--bottom span {
    position: absolute;
    top: 500px;
    right: -170px;
    z-index: 0; }
    @media screen and (min-width: 1024px) {
      .decoration-background-hero--bottom span {
        right: 0px;
        bottom: 800px; } }
  .decoration-background-hero--bottom img {
    width: 300px; }
    @media screen and (min-width: 1024px) {
      .decoration-background-hero--bottom img {
        width: 800px; } }

/*Main*/
.main {
  width: 100%;
  margin-top: 100px;
  position: relative; }

@media screen and (min-width: 1024px) {
  .main__container {
    display: flex; } }

.main__about {
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .main__about {
      text-align: start; } }

.main__about h2 {
  line-height: 1.2em;
  font-size: 2em;
  font-family: "Be Vietnam", Helvetica;
  font-weight: 700;
  color: #242d52; }

.main__about p {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9em;
  font-family: "Be Vietnam", Helvetica;
  font-weight: 400;
  color: #9095a7;
  line-height: 1.8em; }
  @media screen and (min-width: 1024px) {
    .main__about p {
      width: 60%;
      text-align: start; } }

.main__description {
  margin: 50px auto 0;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .main__description {
      margin: 0 0 0 130px; } }

.main__description-section {
  width: 100%;
  margin-bottom: 50px; }

.main__description-num {
  width: 100%;
  height: 35px;
  display: flex;
  margin-left: 20px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffefeb;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .main__description-num {
      margin-left: -60px;
      background: none; } }

.main__description-num::before {
  width: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  content: '01';
  font-family: "Be Vietnam", Helvetica;
  font-size: 1em;
  font-weight: 700;
  color: #fafafa;
  background-color: #f25f3a;
  border-radius: 100px;
  position: absolute;
  right: 85%; }
  @media screen and (min-width: 480px) and (max-width: 599px) {
    .main__description-num::before {
      right: 88%; } }
  @media screen and (min-width: 600px) and (max-width: 799px) {
    .main__description-num::before {
      right: 90.5%; } }
  @media screen and (min-width: 800px) and (max-width: 1023px) {
    .main__description-num::before {
      right: 93%; } }
  @media screen and (min-width: 1024px) {
    .main__description-num::before {
      margin-left: -20%;
      right: 87%; } }

.ct-02::before {
  content: '02'; }

.ct-03::before {
  content: '03'; }

.main__description-num h3 {
  font-family: "Be Vietnam", Helvetica;
  font-size: 1em;
  font-weight: 700; }

.main__description-section p {
  margin-top: 20px;
  font-size: 0.9em;
  font-family: "Be Vietnam", Helvetica;
  font-weight: 400;
  color: #9095a7;
  line-height: 1.8em; }
  @media screen and (min-width: 1024px) {
    .main__description-section p {
      width: 80%;
      margin-left: 10%; } }

/*Comments*/
/*Commetns Slide*/
.comments {
  width: 100%;
  margin-top: 100px;
  text-align: center; }

.comments__title {
  font-size: 2em;
  font-family: "Be Vietnam", Helvetica;
  font-weight: 700;
  color: #242d52; }

.comments__slide {
  width: 100%;
  height: auto;
  margin-top: 50px;
  overflow: hidden; }

.comments__slide ul {
  width: 400%;
  height: 300px;
  display: flex;
  animation: slide 20s infinite alternate ease-out;
  will-change: transform; }

.comments__slide li {
  width: 100%; }
  .comments__slide li img {
    width: 80px;
    height: 80px; }
  .comments__slide li p {
    margin-top: 20px;
    font-size: 0.9em;
    font-family: "Be Vietnam", Helvetica;
    font-weight: 400;
    color: #1d1e25;
    line-height: 1.8em; }
  .comments__slide li small {
    font-size: 1em;
    font-family: "Be Vietnam", Helvetica;
    font-weight: 700;
    color: #242d52; }

.comments__slide-comment {
  margin-top: -50px;
  padding: 50px 20px 20px;
  background-color: #fafafa; }

/*BreakPoints Slide*/
.comments__slide-brea-point {
  width: 100%;
  position: relative; }
  .comments__slide-brea-point ul {
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 0 auto; }
  .comments__slide-brea-point ul span {
    width: 5px;
    height: 5px;
    display: block;
    margin-right: 10px;
    border: 1px solid red;
    border-radius: 50%; }

.comments__slide-point {
  position: absolute;
  top: 0;
  right: 58%;
  animation: breakPoint 20s infinite alternate;
  will-change: transform; }
  @media screen and (min-width: 480px) and (max-width: 599px) {
    .comments__slide-point {
      right: 56.3%; } }
  @media screen and (min-width: 600px) and (max-width: 799px) {
    .comments__slide-point {
      right: 55%; } }
  @media screen and (min-width: 800px) and (max-width: 1023px) {
    .comments__slide-point {
      right: 53.7%; } }

.point-color {
  width: 5px;
  height: 5px;
  display: block;
  background-color: #f25f3a;
  border: 1px solid #f25f3a;
  border-radius: 50%; }

/*Keyframes*/
@keyframes breakPoint {
  0% {
    transform: translateX(0); }
  20% {
    transform: translateX(0); }
  25% {
    transform: translateX(17px); }
  45% {
    transform: translateX(17px); }
  50% {
    transform: translateX(34px); }
  70% {
    transform: translateX(34px); }
  75% {
    transform: translateX(51px); }
  100% {
    transform: translateX(51px); } }

@keyframes slide {
  /*El 5% que sobra de cada animación es el tiempo que esta presentandose el slide*/
  0% {
    transform: translateX(0); }
  20% {
    transform: translateX(0); }
  25% {
    transform: translateX(-25%); }
  45% {
    transform: translateX(-25%); }
  50% {
    transform: translateX(-50%); }
  70% {
    transform: translateX(-50%); }
  75% {
    transform: translateX(-75%); }
  100% {
    transform: translateX(-75%); } }

/*Footer*/
.footer {
  width: 100%;
  margin-top: 100px; }

.footer__get-started {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f25f3a;
  position: relative; }

.footer__get-started p {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  z-index: 1;
  font-size: 2.5em;
  font-family: "Be Vietnam", Helvetica;
  font-weight: 700;
  color: #fafafa; }
  @media screen and (min-width: 480px) and (max-width: 599px) {
    .footer__get-started p {
      margin-bottom: 100px; } }
  @media screen and (min-width: 600px) and (max-width: 799px) {
    .footer__get-started p {
      margin-bottom: 100px; } }
  @media screen and (min-width: 800px) and (max-width: 1023px) {
    .footer__get-started p {
      margin-bottom: 100px; } }

.decoration-background-footer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }
  .decoration-background-footer span {
    position: absolute;
    top: 60px;
    left: -400px;
    opacity: .1;
    z-index: 0; }
  .decoration-background-footer img {
    width: 500px; }

/*Footer Mean*/
.footer__info {
  width: 100%;
  height: auto;
  background-color: #1d1e25; }

.footer__info-form {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-around; }

.footer__info-form input {
  width: 230px;
  margin-right: 20px;
  border: none;
  border-radius: 50px;
  text-indent: 20px; }

.footer__info-links {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-around; }

.footer__info-links li {
  margin-top: 20px;
  font-family: "Be Vietnam", Helvetica;
  font-size: 1em; }
  .footer__info-links li a {
    color: #fafafa;
    text-decoration: none; }
    .footer__info-links li a:hover {
      color: #f25f3a; }

.footer__info--network {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly; }

.footer__info--network svg path:hover {
  fill: #f25f3a; }

.footer__info--logo {
  margin: 40px 0;
  text-align: center; }

.right-reserved {
  margin-bottom: 30px;
  font-family: "Be Vietnam", Helvetica;
  font-size: 0.8em;
  color: #9095a7;
  text-align: center; }
