/*Botones*/
.btn {
  @include buttons(140px, 45px, $Bright-Red, $Vary-Light-Gray);
  &:hover {
    transform: scale(.99);
  }
  &:active {
    transform: scale(.9);
    background-color: hsla(12, 88%, 59%, 0.795);
  }
}
.btn--white {
  @include buttons(140px, 45px, $Vary-Light-Gray, $Bright-Red);
  &:hover {
    transform: scale(.99);
  }
  &:active {
    transform: scale(.9);
    color:hsla(12, 88%, 59%, 0.795);
  }
}
.btn--form {
  @include buttons(80px, 45px,  $Bright-Red, $Vary-Light-Gray);
  &:hover {
    transform: scale(.99);
  }
  &:active {
    transform: scale(.9);
    color:hsla(12, 88%, 59%, 0.795);
  }
}