/*Botones*/
.btn {
  @include buttons(140px, 45px, 0 auto, $Bright-Red, $Vary-Light-Gray);
  @include media(laptop) {
    @include buttons(140px, 45px, 0, $Bright-Red, $Vary-Light-Gray)
  }
  &:hover {
    transform: scale(.99);
  }
  &:active {
    transform: scale(.9);
    background-color: hsla(12, 88%, 59%, 0.795);
  }
}
.btn--white {
  @include buttons(140px, 45px, 0 auto,  $Vary-Light-Gray, $Bright-Red);
  @include media (laptop) {
    @include buttons(140px, 45px, 0,  $Vary-Light-Gray, $Bright-Red);
  }
  &:hover {
    transform: scale(.99);
  }
  &:active {
    transform: scale(.9);
    color:hsla(12, 88%, 59%, 0.795);
  }
}
.btn--form {
  @include buttons(80px, 45px, 0, $Bright-Red, $Vary-Light-Gray);
  &:hover {
    transform: scale(.99);
  }
  &:active {
    transform: scale(.9);
    color:hsla(12, 88%, 59%, 0.795);
  }
}
.btn--laptop {
  display: none;
  @include media(laptop) {
    // display: block;
    @include buttons(140px, 45px, 0 auto, $Bright-Red, $Vary-Light-Gray);
  &:hover {
    transform: scale(.99);
  }
  &:active {
    transform: scale(.9);
    background-color: hsla(12, 88%, 59%, 0.795);
  }
  }
}
.btn--comments {
  @include buttons(140px, 45px, 0 auto, $Bright-Red, $Vary-Light-Gray);
  &:hover {
    transform: scale(.99);
  }
  &:active {
    transform: scale(.9);
    background-color: hsla(12, 88%, 59%, 0.795);
  }
}