/*Comments*/
/*Commetns Slide*/
.comments {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}
.comments__title {
  @include title($Font-Size-Tertiary, $Font-Family, $Font-Weight-Big, $Dark-Blue);
}
.comments__slide {
  width: 100%;
  height: auto;
  margin-top: 50px;
  overflow: hidden;
}
.comments__slide ul {
  width: 400%;
  height: 300px;
  display: flex;
  animation: slide 20s infinite alternate ease-out;
  will-change: transform;
}
.comments__slide li {
  width: 100%;
  img  {
    width: 80px;
    height: 80px;
  }
  p {
    margin-top: 20px;
  @include paragraphs($Font-Size-Points, $Font-Family, $Font-Weight-Small, $Very-Dark-Blue, 1.8em);
  }
  small {
    @include title($Font-Size-Primary, $Font-Family, $Font-Weight-Big, $Dark-Blue);
  }
}
.comments__slide-comment {
  margin-top: -50px;
  padding: 50px 20px 20px;
  background-color: $Vary-Light-Gray;
}
/*BreakPoints Slide*/
.comments__slide-brea-point {
  width: 100%;
  position: relative;
  ul {
    width: 20%;
    height: 50px;
    display: flex;
    margin: 0 auto;
  }
  ul span {
    width: 5px;
    height: 5px;
    display: block;
    margin-right: 10px;
    border: 1px solid red;
    border-radius: 50%;
  }
}
.comments__slide-point {
  position: absolute;
  top: 0;
  right: 58%;
  animation: breakPoint 20s infinite alternate;
  will-change: transform;
}
.point-color {
  width: 5px;
  height: 5px;
  display: block;
  background-color: $Bright-Red;
  border: 1px solid $Bright-Red;
  border-radius: 50%;
  // opacity: 0;
}

/*Keyframes*/
@keyframes breakPoint {
  0%{
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25%{
    transform: translateX(17px);
  }
  45% {
    transform: translateX(17px);
  }
  50% {
    transform: translateX(34px);
  }
  70% {
    transform: translateX(34px);
  }
  75% {
    transform: translateX(51px);
  }
  100% {
    transform: translateX(51px);
  }
}

@keyframes slide {
  /*El 5% que sobra de cada animación es el tiempo que esta presentandose el slide*/
  0%{
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25%{
    transform: translateX(-25%);
  }
  45% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  70% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(-75%);
  }
}
